name: test

on:
  pull_request:
    branches:
      - main

env:
  FOUNDRY_PROFILE: ci

jobs:
  forge-test:
    name: Run Forge Tests and Checks 
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@002fdce3c6a235733a90a27c80493a3241e56863 # v2.12.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.8'

      - name: Install eth-abi
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install eth-abi

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@82dee4ba654bd2146511f85f0d013af94670c4de # v1.4.0
        with:
          version: stable

      - name: Run Forge build
        run: |
          forge --version
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv --ffi
        id: test

      - name: Check formatting
        run: |
          forge fmt --check
        id: fmt
